<table class="min-w-full bg-white border border-gray-300">
  <thead>
    <tr>
      <th class="py-2 px-4 border-b text-start">Empleado</th>
      <th class="py-2 px-4 border-b text-start">Duración de consulta</th>
      <th class="py-2 px-4 border-b text-start">Duración de turno</th>
      <th class="py-2 px-4 border-b text-start">Fecha Inicio / Fin</th>
      <th class="py-2 px-4 border-b text-start">Acción</th>
    </tr>
  </thead>
  <tbody>
    <!-- Ejemplo de fila de datos -->
    <tr>
      <td class="py-2 px-4 border-b">1</td>
      <td class="py-2 px-4 border-b">Ejemplo Nombre</td>
      <td class="py-2 px-4 border-b">Ejemplo Descripción</td>
      <td class="py-2 px-4 border-b">
        <img
          src="https://via.placeholder.com/50"
          alt="Ejemplo Photo"
          class="w-8 h-8"
        />
      </td>
      <td class="py-2 px-4 border-b">
        <button
          class="bg-lime-500 text-white px-4 py-2 rounded hover:bg-lime-600 transition-colors mr-2"
        >
          Seleccionar
        </button>
      </td>
    </tr>


  </tbody>
</table>
