<div class="p-4 max-w-3xl mx-auto space-y-6">
  <h2 class="text-2xl">Información Adicional</h2>

  <div class="flex space-x-4">
    <div class="w-1/2">
      <strong class="text-base">Nombre del dueño</strong>
      <p>Luis Miguel Avendaño</p>
    </div>
    <div class="w-1/2">
      <strong class="text-base">Identificación</strong>
      <p>109167852</p>
    </div>
  </div>
  <div class="flex space-x-4">
    <div class="w-1/2">
      <strong class="text-base">Celular</strong>
      <p>+57 3256215453</p>
    </div>
    <div class="w-1/2">
      <strong class="text-base">Correo Electrónico</strong>
      <p> lmavendano97.... </p>
    </div>
  </div>
  <div class="flex-col">
    <strong class="text-base">Descripción de la Especie</strong>
    <p class="pt-2">Los perros, científicamente conocidos como Canis lupus familiaris, son mamíferos pertenecientes a la familia Canidae. Son animales domesticados y han sido compañeros leales y queridos de los seres humanos a lo largo de la historia. La domesticación de los perros comenzó hace miles de años, y desde entonces, han desempeñado diversos roles en la sociedad, como animales de trabajo, compañía y servicio.</p>
  </div>
</div>

