<form [formGroup]="formPet" (ngSubmit)="onSave()" class="p-4 max-w-3xl mx-auto space-y-6">
  <div class="flex space-x-4">
    <div class="w-1/2">
      <label for="name">Nombres</label>
      <input
        formControlName="name"
        class="mt-1 border border-gray-400 block py-2 px-4 w-full rounded focus:outline-none focus:border-teal-500"
        name="name"
        type="text"
        id="name"
      />
      @if(formPet.touched){
        <span customLabel [errors]="formPet.get('name')?.errors" id="name-error" class="text-red-500"></span>
      }
    </div>
    <div class="w-1/2">
      <label for="birthdate">Fecha de nacimiento</label>
      <input
        formControlName="birthdate"
        class="mt-1 border border-gray-400 block py-2 px-4 w-full rounded focus:outline-none focus:border-teal-500"
        name="birthdate"
        type="date"
        id="birthdate"
      />
      @if(formPet.touched){
        <span customLabel [errors]="formPet.get('birthdate')?.errors" id="name-error" class="text-red-500"></span>
      }
    </div>
  </div>
  <div class="flex space-x-4">
    <div class="w-1/2">
      <label for="race">raza</label>
      <input
        formControlName="race"
        class="mt-1 border border-gray-400 block py-2 px-4 w-full rounded focus:outline-none focus:border-teal-500"
        name="race"
        type="text"
        id="race"
      />
      @if(formPet.touched){
        <span customLabel [errors]="formPet.get('race')?.errors" id="name-error" class="text-red-500"></span>
      }
    </div>
    <div class="w-1/2">
      <label for="photo">Link de la foto</label>
      <input
        formControlName="photo"
        class="mt-1 border border-gray-400 block py-2 px-4 w-full rounded focus:outline-none focus:border-teal-500"
        name="photo"
        type="url"
        id="photo"
      />
      @if(formPet.touched){
        <span customLabel [errors]="formPet.get('photo')?.errors" id="name-error" class="text-red-500"></span>
      }
    </div>
  </div>
  <div class="flex space-x-4">
    <div class="w-1/2">
      <label>Especie</label>
      <select
        formControlName="specie_id"
        class="mt-1 border border-gray-400 block py-2 px-4 w-full rounded focus:outline-none focus:border-teal-500"
      >
        @for (specie of specieService.species(); track specie.id){
          <option [value]="specie.id">{{ specie.name }}</option>
        }
      </select>
      @if(formPet.touched){
        <span customLabel [errors]="formPet.get('specie_id')?.errors" id="name-error" class="text-red-500"></span>
      }
    </div>
    <div class="w-1/2">
      <label>Dueño</label>
      <select
        formControlName="client_id"
        class="mt-1 border border-gray-400 block py-2 px-4 w-full rounded focus:outline-none focus:border-teal-500"
      >
        @for (client of clientService.clients(); track client.id){
          <option [value]="client.id">{{ client.users.name }}</option>
        }
      </select>
      @if(formPet.touched){
        <span customLabel [errors]="formPet.get('client_id')?.errors" id="name-error" class="text-red-500"></span>
      }
    </div>
  </div>
  <div>
    <button
      class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition-colors mr-2"
    >
      {{ +petId! === 0 ? 'Crear' : 'Actualizar' }}
    </button>
    <button
      type="button"
      (click)="deletePet()"
      class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600 transition-colors"
    >
      Eliminar
    </button>
  </div>
</form>
