<app-section-title title="Empleados" />

<section class="bg-white p-6 mt-4 shadow h-max w-full">
  <app-employee-list />
  
  <button (click)="goToEmployeeDetail(0)" class="absolute bottom-12 right-20 btn bg-blue-400 p-3 rounded-full text-white hover:bg-blue-500 transition-colors">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
    </svg>
  </button>
</section>

